.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(17, 17, 17);
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: rgb(12, 48, 49);
}

#main {
    transition: margin-left .5s;
    /* padding: 20px; */
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}
a {
    color: rgb(77, 157, 163);
}

.circles {
    margin-bottom: -10px;
}

.circle {
    width: 100px;
    margin: 6px 6px 20px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1.2;
}

.circle strong {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
}

.circle strong i {
    font-style: normal;
    font-size: 0.6em;
}

.circle span {
    color:greenyellow;
}

.nav-item{
    padding-left: 300px;
    font-size: 25px;
}
