{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Awwardz</title>
  {% block styles %}

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.5/css/mdb.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% endblock %}
  <link rel="icon" href="https://images-na.ssl-images-amazon.com/images/I/611bLw5IDQL._AC_SL1500_.jpg"
    type="icon/images">
</head>

<body>
  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/">Home</a>
    <hr>
    <a href="/accounts/login">Register / Login</a>
    <hr>
    <a href="{% url 'profile' %}">Profile</a>
    <hr>
    <a href="{% url 'upload' %}">Submit Your site</a>
    <hr>
  </div>
  <div id="main">
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="openbtn" onclick="openNav()">&#9776; Menu</button>
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
        aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Awwardz
            </a> </li>
        </ul>
        <form class="form-inline" role="search" action="{% url 'search' %}">
          <div class="md-form my-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="project">
          </div>
        </form>

        <ul class="navbar-nav ml-auto nav-flex-icons">
          {% if user.is_authenticated %}
          <ul>
            <a class='btn btn-info btn-sm' href="/logout">Logout</a>

          </ul>
          {% else %}
          <li>
            <a class='btn btn-default' href="/accounts/login">Login / Register</a>
          </li>
          {% endif %}
      </div>
      </ul>
    </nav>
    {% block content %}
    {% endblock %}

  </div>
  </div>


  {% block scripts %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js">
  </script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.5/js/mdb.min.js"></script>
  <script type="text/javascript" src="{%static 'js/index.js'%}"></script>
  {% endblock %}
</body>

</html>