{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-6">
            <div class="card ">
                <div class="card-header">Add new Project</div>
                <div class="card-body">
                    <form method="post" action="{% url 'post' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <div class="form-group w3-center">
                            <input type="submit" class=" w3-center w3-margin w3-button w3-theme-d5" value="Submit">
                        </div>
                        <input type="hidden" name="next" value="{{next}}">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>
{{form.media}}
{% endblock %}
